.pageContainer {
    display: flex;
    flex-wrap: wrap;
}

.leftPanel {
    position: fixed;
    height: 100vh;
    width: 20vw; /* Matches the flex-basis */
    margin-top: 13vh;
    padding-left: 100px;
}

.centerPanel {
    flex-grow: 1; /* Allows the panel to grow and fill the available space */
    padding-top: 13vh;
    padding-left: 25vw; /* Adjusted to match the leftPanel width */
    padding-right: 20vw; /* Space for the rightPanel if it's not fixed */
    overflow: auto;
    position: relative;
}


.skillDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

