.pageContainer {
    display: flex;
    flex-wrap: wrap;
}

.leftPanel {
    position: fixed;
    height: 100vh;
    width: 20vw; /* Matches the flex-basis */
    margin-top: 13vh;
    padding-left: 100px;
}

.centerPanel {
    flex-grow: 1;
    padding-top: 10vh;
    padding-left: 12vw; 
    padding-right: 12vw; 
    overflow: auto;
    position: relative;
    height: 100vh;
}


.skillDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

