.aboutmeInfo {
  background-color: rgb(255, 255, 255);
  align-items: center; /* Centers content vertically */
  justify-content: center; 
  padding: 10px; 
  box-shadow: 5px 1px 5px 1px #000000;
  border-radius: 5px;
}

.aboutmeInfo .textContainer {
  color: #092d52;
}

.greeting {
  text-align: left;
  font-size: min(2vw, 2rem);
  font-weight: bold;
  padding-left: 20px;
}

.intro {
  text-align: center;
  font-size: min(2vw, 2rem);
  padding-left: 20px;
}

.bio {
  text-align: left;
  margin: 20px;
  font-size: min(2vw, 1rem);
}


.photo {
    height: 40vh;
    width: auto;
    max-width: 20vw;
    max-height: 40vh; /* Add this line to ensure the image does not exceed the viewport height */
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
}
