/* SkillCard.css */
.icon-card-section {
    margin-top: 20px;
    width: 80%;
    align-self: start;
    overflow: visible;
}

.icon-card {
    border: none;

    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    margin: 20px;
}

.icon-card:hover {
    background-size: 42%;
}

.icon-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(241, 243, 248);
}

.icon-card-header {
    background-color: #092d52;
    color: white;
    padding: 1px 10px;
    text-align: left;
    text-indent: 1rem;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
}

.icon-card-body {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
}
