.introContainer {
    width: 100%;
    height: 100vh;
    /* color: white; */
    display: flex;
    /* border: solid; */
}

.userProfileImage {
    height: 80vh;
    width: auto;
    max-width: 50vw;
    max-height: 80vh; /* Add this line to ensure the image does not exceed the viewport height */
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
    bottom: 0;
    right: 0;
    left: 76vw;
    top: 25vh;
    position: fixed;
}

.nameText {
    color: rgb(255, 0, 128);
    /* font-size: 4rem;  */
}

.introText {
    font-size: 4rem;
}

.verticallyCenteredText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%; 
}

.textContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 25vh;
    width: 100%;
    height: 25vh;
}

.textContainer.dark-mode {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Light mode specific styles */
.textContainer.light-mode {
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
    .userProfileImage {
        left: auto; /* Remove the left positioning on mobile */
        right: 0; /* Keep it aligned to the right */
        top: 35vh; /* Adjust as necessary */
        max-width: 75vw; /* Ensure it does not exceed the viewport width */
        /* Ensure the image is fully visible within the viewport */
        position: fixed; /* or 'absolute', depending on your layout needs */
    }

    .introText {
        /* color: rgb(255, 0, 128); */
        font-size: 2rem; 
    }

    .textContainer {
        height: 15vh;
    }
}

@media (orientation: landscape) and (max-width: 1000px) {
    .introText {
        /* color: rgb(255, 0, 128); */
        font-size: 2rem; 
    }

    .userProfileImage {
        top: 35vh;
        /* max-width: 75vw; */
        left: 79vw;
    }
}