.skills-section {
    margin-top: 20px;
    width: 50%;
    align-self: start;
}

.skills-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    /* max-width: 600px; */
    /* margin: auto; */
    overflow: hidden;
    position: relative; /* For positioning the gradient overlay */
    /* transition: background-size 0.3s ease; */
}

.skills-card:hover {
    background-size: 42%; /* Slightly larger on hover */
}

.skills-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(241, 243, 248);
}

.skills-header {
    background-color: #092d52;
    color: white;
    padding: 1px 10px;
    text-align: left;
    text-indent: 1rem;
    position: relative; /* To ensure it's above the gradient */
    z-index: 1;
    font-size: 1.5rem;

}



.skills-body {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative; /* To ensure it's above the gradient */
    z-index: 1;
    width: 100%;
}

.skills-info h3, .skills-info p {
    margin: 0;
    color: #333; /* Adjust color for readability */
}
