/* @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap'); */


ul {
    list-style-type: none;
    padding-left: 0; /* Removes default padding */
}

.card{
    border: none;
    box-shadow: 5px 1px 5px 1px #000000;
}

.responsive-img{
    width: 100%;
    height: auto;
}

.card-title {
    /* font-family: 'Fugaz One', cursive; */
    font-weight: bold;
    font-size: 2rem; /* Default font size */
    padding-bottom: 5px;
}

.custom-badge {
    font-size: 1.2em; /* Default font size */
    padding: 0.5em 1em; /* Default padding */
    border-radius: 10px;
}

/* Smaller screens (e.g., tablets and large phones) */
@media (max-width: 768px) {
    .card-title {
        font-size: 1.5rem; /* Smaller font size on smaller screens */
    }

    .custom-badge {
        font-size: 1em; /* Slightly smaller font size */
        padding: 0.4em 0.8em; /* Slightly smaller padding */
    }
}

/* Very small screens (e.g., small phones) */
@media (max-width: 576px) {
    .card-title {
        font-size: 1.2rem; /* Even smaller font size for very small screens */
    }

    .custom-badge {
        font-size: 0.9em; /* Further reduce font size */
        padding: 0.3em 0.6em; /* Further reduce padding */
    }
}


.btn-custom {
    background-color: #092d52; /* Custom background color */
    color: white; /* Text color */
    border-color: #092d52; /* Border color, if needed */
}

.btn-custom:hover {
    background-color: #0b3d6e;
    color: white
}

.infoItem {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}

.infoItem .icon {
    /* Set a fixed width for icons to align text of .infoItem */
    width: 30px; /* Adjust the width as needed */
    text-align: center; /* Center the icon if smaller than the width */
    margin-right: 10px; /* Adds spacing between the icon and the text */
}
ul {
    list-style-type: none;
    padding-left: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

.infoItem {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
}

.infoItem .icon {
    width: 30px; /* Adjust the width as needed */
    text-align: center; /* Center the icon if smaller than the width */
    margin-right: 10px; /* Adds spacing between the icon and the text */
    flex-shrink: 0; /* Prevents the icon container from shrinking */
}

.infoItem .text {
    flex-grow: 1; /* Allows the text section to fill the remaining space */
    text-align: left; /* Ensures text is left-aligned */
    margin: 0; /* Removes default margin */
    color: rgb(94, 94, 94);
}

.infoItem .text {
    flex-grow: 1; /* Allows the text section to fill the remaining space */
}
